{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": null,
    "target": "es2016",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "baseUrl": "./",
    "paths": {
      "@boostrap/*": ["./src/boostrap/*"],
      "@adapters/*": ["./src/config/adapters/*"],
      "@errors/*": ["./src/config/errors/*"],
      "@interfaces/*": ["./src/config/interfaces/*"],
      "@routers/*": ["./src/routers/*"],
      "@controllers/*": ["./src/controllers/*"],
      "@services/*": ["./src/services/*"],
      "@dtos/*": ["./src/dtos/*"],
      "@validators/*": ["./src/middlewares/validators/*"],
      "@utils/*": ["./src/utils/*"],
      "@docs/*": ["./src/config/docs/*"],
      "@config/*": ["./src/config/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "noInterop": false,
    "lazy": false
  },
  "minify": true
}
